<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
</head>
<body>
<h1>Movie Details</h1>
<div>
    <h2>Title: <span th:text="${movie.title}"></span></h2>
    <p>Description: <span th:text="${movie.description}"></span></p>
    <p>Year: <span th:text="${movie.year}"></span></p>
    <hr />
    <a th:href="@{/reviews/{id}(id=${movie.id})}">Go to reviews</a>
    <hr />
    <a href="/movies">Go back to movie list</a>
</div>
</body>
</html>
